
@keyframes grow{
    from{
      font-size:20px;
    }
    to{
      font-size: 50px;
    }
  
  }
  h1{
    background-color:rgb(43, 201, 201);
    opacity: 70%;
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    max-width: 400px;
    padding: auto;
    margin: 100px auto;
    box-sizing: border-box;
    text-align: center;
   
   backdrop-filter: blur(6px);
   -webkit-backdrop-filter: blur(6px);
   box-shadow: 0 6px 35px rgb(43, 201, 201);
   border: 2px solid #fff;
   border-radius: 10px;
  }
  
  body{
      
      text-align: center;
      
        background-image: url(photo.jpg);
        background-size: cover;
        opacity: 70%;
   }
      
  
  div{
    display: none;
  
  }
  
  .butt{
    
  max-width: 400px;
  padding: auto;
  margin: 100px auto;
  box-sizing: border-box;
  text-align: center;
 
 backdrop-filter: blur(6px);
 -webkit-backdrop-filter: blur(6px);
 box-shadow: 0 6px 35px rgb(43, 201, 201);
 border: 2px solid #fff;
 border-radius: 10px;
     
    
  }
  .int{
    text-emphasis: color;
  }
  p{
    background-color:rgb(43, 201, 201);
    height: 200px;
  }
  strong{
    border-bottom: solid;
  }
  